<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="__JS__/contabs.min.js"></script>
<script src="__JS__/plugins/pace/pace.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/lunhui.js"></script>
<script src="__JS__/ajax_login_overtime.js"></script>
<script src="__JS__/plugins/chosen/chosen.jquery.js"></script>
<!--<script src="__JS__/content.min.js?v=1.0.0"></script>-->
<!--<script src="__JS__/plugins/jsKnob/jquery.knob.js"></script>-->
<!--<script src="__JS__/plugins/jasny/jasny-bootstrap.min.js"></script>-->
<!--<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>-->
<!--<script src="__JS__/plugins/prettyfile/bootstrap-prettyfile.js"></script>-->
<!--<script src="__JS__/plugins/nouslider/jquery.nouislider.min.js"></script>-->
<script src="__JS__/plugins/switchery/switchery.js"></script>
<!--<script src="__JS__/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>-->
<!--<script src="__JS__/plugins/iCheck/icheck.min.js"></script>-->
<!--<script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--<script src="__JS__/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>-->
<!--<script src="__JS__/plugins/clockpicker/clockpicker.js"></script>-->
<!--<script src="__JS__/plugins/cropper/cropper.min.js"></script>-->


