<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name=”renderer” content=”webkit|ie-stand|ie-comp” />
<meta name="force-rendering" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>后台管理系统</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="{:url('/public/favicon.ico','','')}">
<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
<link href="__CSS__/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__CSS__/animate.min.css" rel="stylesheet">
<link href="__CSS__/style.min.css" rel="stylesheet">
<link href="__CSS__/plugins/chosen/chosen.css" rel="stylesheet">

<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__CSS__/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="__CSS__/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="__CSS__/plugins/switchery/switchery.css" rel="stylesheet">
<link href="__CSS__/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<link href="__CSS__/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
<link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="__CSS__/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="__CSS__/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<link href="__CSS__/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="__CSS__/plugins/clockpicker/clockpicker.css" rel="stylesheet">
<link href="__CSS__/animate.min.css" rel="stylesheet">
<link href="__CSS__/style.min862f.css?v=4.1.0" rel="stylesheet">
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html" />
<![endif]-->
<script>
    // if(window.top!==window.self){window.top.location=window.location};
</script>
